div.demo-drawer.mdl-layout__drawer {
  width: 85px;
  overflow-y: visible !important;
}
div.demo-drawer.mdl-layout__drawer button {
  width: 100%;
}
div.demo-drawer.mdl-layout__drawer button .header-btn-plus {
  font-size: 45px;
}
div.demo-drawer.mdl-layout__drawer nav.demo-navigation.mdl-navigation {
  height: 100%;
  padding-top: 0;
}
div.demo-drawer.mdl-layout__drawer nav.demo-navigation.mdl-navigation header .mdl-button {
  height: 65px;
}
.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen) > .mdl-layout__header,
.mdl-grid.demo-content {
  margin-left: 85px;
  width: calc(100% - 85px) !important;
}
.mdl-layout--fixed-drawer > .mdl-layout__content {
  margin-left: 85px !important;
}
.mdl-button--icon {
  overflow: visible;
}
